 /* Contact section */
 .get-in-touch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    background-color: rgba(28, 28, 28, .9);
    color: #ccc;
  }

  .get-in-touch .for-icon {
    margin-left: 5px;
  }
  
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .contact-image {
    flex: 1;
    text-align: end;
  }
  .contact-image > img {
    width: 100%;
    max-width: 370px;
    height: auto;
    margin-right: 20px;
  }
  
  .contact-form-container {
    flex: 1;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ccc;
    border-radius: 5px;
    outline: none;
  }
  .contact-form textarea {
    height: 200px;
    resize: none;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .form-group {
    flex: 1;
    margin-right: 10px;
  }
  
  .form-group:last-child {
    margin-right: 0;
  }
  
  
  
  .form-group input::placeholder,
  .form-group textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #333;
    color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    outline: none;
    align-self: flex-start;
    min-width: 145px;
  }
  
  .contact-form button:not([disabled]):hover {
    background-color: #444;
  }

  .contact-form button[disabled] {
    cursor: not-allowed;
  }

  @media (min-width: 768px) {
    .section-name > .get-in-touch-avatar {
      display: none;
    }
  }
  @media (max-width: 1200px) {
    .contact-image {
      max-width: calc(100% / 3); /* Limit the width to 1/3 */
    }
    
    .contact-form-container {
      max-width: calc(2 * 100% / 3); /* Limit the width to 2/3 */
    }
  }
  
  @media screen and (max-width: 767px) {
    .get-in-touch {
      padding: 2rem 1.5rem;
    }
    .contact-container {
      flex-direction: column;
    }
    img[alt="Contact Image"] {
      display: none;
    }
    .contact-image {
      text-align: left;
    }
    .contact-image,
    .contact-form-container {
        max-width: 100%; 
        width: 100%;
    }
  }


  /* modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    position: relative;
    background-color: #262626;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}


.modal-title {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.modal-icon {
    margin-left: 10px;
}

.fade-out-modal {
  animation: fadeOut ease 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
